<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiBase</key>
	<dict>
		<key>currencylayer</key>
		<string>http://api.currencylayer.com/</string>
		<key>unitTest</key>
		<string>http://api.test.com/</string>
	</dict>
	<key>apiKey</key>
	<dict>
		<key>currencylayer</key>
		<string></string>
		<key>unitTest</key>
		<string>123abc</string>
	</dict>
</dict>
</plist>
